body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.navContainer{
    border-bottom: 1px solid rgb(231, 231, 231);
    position: sticky;
    top: 0;
    background-color: aliceblue;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
nav img{
    width: 4rem;
}
.navLinkDiv .navLink{
    padding: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(231, 231, 231);
    background-color: aliceblue;
}
.sitefooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#profileImage{
    width: 20rem;
}
.blogCardContainer{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    border: 1px solid black;
    height: 200px;
    width: 500px;
}
.blogCardContainer h1{
    font-size: 1rem;
}