#intro{
    display: flex;
    justify-content: center;
}
#getStarted{
    background-color: rgb(242, 237, 245);
    padding: 10px;
}
#getStartedText{
    display: flex;
    align-self: center;
}

#profile-pic{
    width: 200px;
    height: 200px;
}
.Navbar-color {
    background-color: white;
    border-bottom: .5px solid rgb(179, 173, 173);
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
    margin-bottom: 20px;
}
.Link{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

.btn{
    display: flex;
    justify-content: center;
}
.Card{
    display: flex;
    justify-content: center;
}
.CardImg{
    width: 250px;

}


#aboutCard{
    flex-direction: row;
}

#aboutCardImg{

    width: 75px;
    height: 75px;
}